---
title: 8th Light apprenticeship blog
layout: apprenticeship-blog
---
<h2>{{page.title}}</h2>
{% for post in site.categories.apprenticeship %}
<article class="blog-post apprenticeship">
  <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
  <p class="post-date">{{ post.date | date_to_long_string }}</p>
  {{ post.content | split:'<!--break-->' | first }}
  {% if post.content contains '<!--break-->' %}
    <p><a href="{{ site.baseurl }}{{ post.url }}">Read more...</a></p>
  {% endif %}
</article>
{% endfor %}

<!-- <div class="pagination">
  <ul>
    {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
      <li class="newer"><a href="/blog">&lt; &lt; Newer posts</a></li>
    {% else %}
      <li class="newer"><a href="/blog/page{{ paginator.previous_page }}">&lt; &lt; Newer posts</a></li>
    {% endif %}
    {% else %}
      <li class="newer hide"><span>&lt; &lt; Newer posts</span></li>
    {% endif %}
    {% if paginator.next_page %}
      <li class="older"><a href="/blog/page{{ paginator.next_page }}">Older posts &gt; &gt;</a></li>
    {% else %}
      <li class="older hide"><span>Older posts &gt; &gt;</span></li>
    {% endif %}
  </ul>
</div> -->