<section class="wrapper social">
  <h3>Find me on social media:</h3>
  <ul>
    <li><a href="{{site.twitter}}" target="_blank"><img src="public/images/twitter.png"  alt="Twitter logo"></a></li>
    <li><a href="{{site.github}}" target="_blank"><img src="public/images/github.png" alt="Github logo"></a></li>
    <li><a href="{{site.linkedin}}" target="_blank"><img src="public/images/linkedin.png" alt="LinkedIn logo"></a></li>
    <li><a href="{{site.flickr}}" target="_blank"><img src="public/images/flickr.png" alt="Flickr logo"></a></li>
    <li><a href="{{site.instagram}}" target="_blank"><img src="public/images/instagram.png" alt="Instagram logo"></a></li>
  </ul>
</section>
