---
title: Blog
layout: blog
---

{% for post in paginator.posts %}
<article class="blog-post">
  <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
  <h4>{{ post.date | date_to_long_string }}</h4>
  {{ post.content | split:'<!--break-->' | first }}
  {% if post.content contains '<!--break-->' %}
    <p><a href="{{ site.baseurl }}{{ post.url }}">Read more...</a></p>
  {% endif %}
</article>
{% endfor %}

<div class="pagination">
  <ul>
    {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
      <li><a href="/blog">Newer posts</a></li>
    {% else %}
      <li><a href="/blog/page{{ paginator.previous_page }}">Newer posts</a></li>
    {% endif %}
    {% else %}
      <li><span class="disabled">Newer posts</span></li>
    {% endif %}
    {% if paginator.next_page %}
      <li><a href="/blog/page{{ paginator.next_page }}">Older posts</a></li>
    {% else %}
      <li><span class="disabled">Older posts</span></li>
    {% endif %}
  </ul>
</div>
