@import 'mixins';

.blog {
  margin-top: 10px;
}
.blog-post {
  border-bottom: 1px solid lightgrey;
  h2 {
    margin-bottom: 0;
  }
}
.post {
  max-width: 800px;
  .date {
    font-size: 0.85em;
    width: auto;
    span {
      background-color: #f1f1f1; 
    }
  }
  p {
    line-height: 1.4em;
  }
}
.apprenticeship {
  h1, h2, h3 {
    color: #1BC0F7;
  }
  a {
    color: #1BC0F7;
  }
}


.pagination {
  ul {
    @include clearFix;
    padding-left: 0;
  }
  li {
    display: inline-block;
  }
  .newer {
    float: left;
  }
  .older {
    float: right;
  }
  .hide {
    display: none;
  }
}
.my-other-blogs {
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 1px 20px;
  background-color: #f1f1f1;
  width: 100%;
  ul {
    padding-left: 20px;
    li {
      padding-bottom: 10px;
    }
  }
}
.see-all {
  padding-top: 20px;
}

@media only screen and (min-width:900px) {
  .blog {
    margin-top: 20px;
  }
  .posts {
    float: left;
    width: 67%;
  }
  .post {
    p {
      font-size: 1.1em;
      line-height: 1.5em;
    }
    .date {
      font-size: 0.95em;
    }
  }
  .my-other-blogs {
    width: 28%;
    float: right;
    h4 {
      margin: 20px 0 0;
    }
  }

}