@import 'mixins';

header {
  background-color: rgba(255,255,255,0.8);
  @include vendor-prefix('box-shadow', '0px 3px 5px 1px #ccc');
  display:block;
  width: 100%;
  height: 60px;
  line-height: 60px;
  @include clearFix;

  .name {
    display: none;
  }
  nav {
    float: right;
    width: 150px;
    height: 60px;
    }
    ul {
      padding-left: 0;
      width: 150px;
      list-style: none;
      margin-top: 0;
      li {
        display: inline-block;
        line-height: 60px;
        height: 60px;
        cursor: pointer;
        font-size: 1.2em;
        &:after {
          content:"|";
        }
        &:last-child:after {
          display: none;
        }
        a {
          text-decoration: none;
          color: black;
          display: inline-block;
          padding: 0px 7px 10px;
          &:hover, &.current {
            color: deeppink;
            text-decoration: none; 
            span {
              border-bottom: 2px solid deeppink;
              padding-bottom: 3px;
            }
          }
        }
        span {
          font-size: 1em;
        }
      }
    }
  }
@media only screen and (min-width:400px) {
  header {
    .name {
      display: block;
      float: left;
      line-height: 60px;
      height: 60px;
      width: 160px;
      font-size: 1.2em;
      margin-left: 15px;
      font-style: italic;
      h3 {
        margin-top: 0;
      }
    }
  }
}

