@import 'mixins';

* {
  box-sizing:border-box;
}
html {
  height: 100%;
  background-color: white;
}
a, a img {
  transition: 0.2s;
}
body {
 font-family: 'roboto', sans-serif;
 color:black;
 font-size: 18px;
 height: 100%;
}
h1 {
  font-size: 2em;
  text-align: center;
}
h2 {
  font-size: 1.3em;
}
h3 {
  font-size: 1.2em;
}
h4 {
  font-size: 1.1em;
}
p {
  font-size: 1em;
  }
a {
text-decoration: none;
color: deeppink;
  &:hover {
    text-decoration: underline;
  }
}
.wrapper {
  width: 95%;
  max-width: 1100px;
  margin: 0 auto 30px;
  @include clearFix;
}
.about-text {
  margin-bottom: 30px;
}
.right-sidebar {
  margin-bottom: 30px;
}
.social {
  ul {
    padding-left: 0;
    li {
      list-style: none;
      display: inline-block;
      a:hover img {
        opacity: 0.6;
      }
      img {
        width: 50px;
      }
    }
  }
}
footer {
  p {
    width: 50%;
    max-width: 245px;
    margin: 0 auto;
    font-size: 0.8em;
    border-top: 1px solid black;
    padding-top: 10px;
  }
}

@media only screen and (min-width:600px)  {
  h1 {
    font-size: 2.5em;
    text-align: center;
  }
  h2 {
    font-size: 1.5em;
  }
  .wrapper {
    width: 90%;
  }
 }

 @media only screen and (min-width:900px)  {
  .about-text {
    float: left;
    width: 62%;
  }
  .right-sidebar {
    float: right;
    width: 34%;
    margin-top: 30px;
    margin-bottom: 0;
    padding: 0 20px;
    background-color: #f1f1f1;
    ul {
      padding-left: 20px;
      li {
        padding-bottom: 5px;
      }
    }
  }

 }
