@import 'mixins';

* {
  box-sizing: border-box;
}
html, body {
  background-color: white;

}
html {
  position: relative;
  min-height: 100%;
}
a, a img {
  transition: 0.2s;
}
body {
 font-family: 'roboto', sans-serif;
 color:black;
 font-size: 18px;
 margin: 0 0 35px;

}
h1 {
  font-size: 2em;
  text-align: center;
}
h2 {
  font-size: 1.3em;
}
h3 {
  font-size: 1.2em;
}
h4 {
  font-size: 1.1em;
}
p {
  font-size: 1em;
  }
a {
text-decoration: none;
color: deeppink;
  &:hover {
    text-decoration: underline;
  }
}
.wrapper {
  width: 95%;
  max-width: 1100px;
  margin: 0 auto 80px;
  @include clearFix;
}
.about-text {
  margin-bottom: 30px;
}
.recent-posts {
  margin-bottom: 30px;
  padding: 1px 20px;
  background-color: #f1f1f1;
  width: 100%;
  ul {
    padding-left: 20px;
    li {
      padding-bottom: 5px;
    }
  }
}
.social {
  margin: 0;
  ul {
    padding-left: 0;
    li {
      list-style: none;
      display: inline-block;
      a:hover img {
        opacity: 0.6;
        border: 5px solid deeppink;
        border-radius: 100%;
      }
      img {
        width: 50px;
      }
    }
  }
}
footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 35px;
  width: 100%;
  padding-bottom: 10px;

  p {
    width: 65%;
    max-width: 245px;
    margin: 0 auto;
    font-size: 0.8em;
    border-top: 1px solid black;
    padding-top: 10px;
  }
}

@media only screen and (min-width:400px)  {
  h1 {
    font-size: 2.5em;
    text-align: center;
  }
  h2 {
    font-size: 1.5em;
  }
  .wrapper {
    width: 90%;
  }
 }

 @media only screen and (min-width:750px) {
  .recent-posts {
    width: 47%;
    float: left;
  }
  .social {
    width: 47%;
    float: right;
  }
  footer {
    margin-top: 40px;
    p {
      width: 50%;
    }
  }

 }

 @media only screen and (min-width:900px) {
  .about-text {
    float: left;
    width: 49%;
    p {
      font-size: 1.2em;
    }
  }
  .recent-posts {
    width: 45%;
    float: right;
    margin-top: 110px;
  }
  .social {
    width: 45%;
  }

 }
