{% include header.html %}
<div class="wrapper blog">
  <section class="posts">
  {{ content }}
  </section>
  <aside class="apprenticeship-intro my-other-blogs grey-box apprenticeship">
   <p>I kept this (almost) daily blog during my apprenticeship at <a href="https://8thlight.com/locations/london" target="_blank">8th Light</a>.
   <br>
   <br>
   The purpose of this exercise was to improve my writing skills and reflect on what I was learning every day.
   <br>
   <br>
   The title is an homage to Carrie Brownstein's fantastic book about her Sleater-Kinney years "Hunger makes me a modern girl".
   </p>
</div>
{% include footer.html %}
