{% include header.html %}
<div class="wrapper blog">
  <h1>The blog</h1>
  <section class="intro">
    <h3>I like writing, so when I have time and feel like I have something to say, I write posts for this blog.</h3>
    <h3>During my apprenticeship at 8th Light I kept a <a class="eighth-light" href="/apprenticeship">separate blog</a>. I published a post on it almost every day.</h3>
  </section>
  <section class="posts">
    {{ content }}
  </section>
  <aside class="my-other-blogs grey-box">
    <h4>More of my things online:</h4>
    <ul>
      <li>
        <a href="http://hellorabea.com" target="_blank">hellorabea.com</a> - my travel and photography blog
      </li>
      <li>
        <a href="http://rabeameetscode.wordpress.com/" target="_blank">Rabea meets code</a> - blog about my coding bootcamp experience at General Assembly
      </li>
    </ul>
  </aside>
</div>
{% include footer.html %}
