{% include header.html %}
  <div class="wrapper blog">
    {{ content }}
  </div>
  <aside class="my-other-blogs">
    <h4>If you're interested in reading more, check out my other blogs:</h4>
    <ul>
      <li>
        <a href="http://rabeameetscode.wordpress.com/" target="_blank">Rabea meets code</a> - blog about my coding bootcamp experience
      </li>
      <li>
        <a href="http://hellorabea.com" target="_blank">hellorabea.com</a> - my travel and photography blog
      </li>
    </ul>
  </aside>
{% include footer.html %}