{% include header.html %}
<div class="wrapper blog">
  <section class="posts">
  {{ content }}
  </section>
  <aside class="my-other-blogs">
    <h4>Interested in reading more? Have a look at my other blogs:</h4>
    <ul>
      <li>
        <a href="http://rabeameetscode.wordpress.com/" target="_blank">Rabea meets code</a> - blog about my coding bootcamp experience
      </li>
      <li>
        <a href="http://hellorabea.com" target="_blank">hellorabea.com</a> - my travel and photography blog
      </li>
    </ul>
  </aside>
</div>
{% include footer.html %}