{% include header.html %}
<div class="wrapper blog hundred-photos">
  <h1>100 days, 100 photos</h1>
 <section class="intro"><p>Some of my colleagues came up with this challenge: take a photo every day for 100 days. I've decided to join in. My plan is to post a photo to Instagram every day.</p></section>
  <ul id="instafeed"></ul>
</div>
{% include footer.html %}
 <script type="text/javascript" src="/public/js/vendor/instafeed.min.js"></script>
 <script type="text/javascript" src="/public/js/instafeed.js"></script>

